@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    font-family: "Open Sans", serif;
}

@keyframes grow-line-center {
    from {
        transform: scaleX(0);
    }
    to {
        transform: scaleX(1);
    }
}

.non-active {
    @apply text-white;
}

.nav-active {
    @apply text-violet-900 ease-in duration-300;
}

.nav-active::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    height: 2px;
    background-color: #4c1d95;
    width: 100%;
    animation: grow-line-center 0.3s ease-in forwards;
}

.sidebar-focus {
    @apply bg-focus;
}

.humburger-active > span:nth-child(1) {
    @apply w-6;
}

.humburger-active > span:nth-child(2) {
    @apply w-8;
}

.humburger-active > span:nth-child(3) {
    @apply w-5;
}

.nav-mobile-active {
    @apply translate-x-0;
}

section {
    scroll-margin-top: 100px;
}

.canvas {
    width: 170px !important;
    height: 170px !important;
}

#toolbar {
    @apply border-t-0 border-x-0 border-b border-black border-opacity-30 text-white flex gap-8 justify-center;
}

#editor {
    @apply h-96 border-none w-full;
}

.ql-align-center {
    @apply text-center mb-4;
}

.ql-size-huge {
    @apply text-4xl;
}

.ql-size-large {
    @apply text-xl;
}

.ql-size-normal {
    @apply text-base;
}

.ql-size-small {
    @apply text-sm;
}

.tooltip::before {
    content: "";
    /* background-color: #fff; */
    position: absolute;
    bottom: -10px;
    right: 50%;
    height: 0px;
    width: 0px;
    border-top: solid 10px #8b5cf6;
    border-left: solid 8px transparent;
    border-right: solid 8px transparent;
}

.memory-gmae {
    perspective: 1000px;
}

.memory-card {
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform 0.5s;
    backface-visibility: hidden;
}

.memory-card:active {
    transform: scale(0.97);
    transition: transform 0.2s;
}

.memory-card.flip {
    transform: rotateY(180deg);
}

.front-face,
.back-face {
    backface-visibility: hidden;
}

.front-face {
    transform: rotateY(180deg);
}

.modalGradient {
    background: linear-gradient(180deg, #6d28d9 -10%, #7c3aed 100%);
}

/* custom datatables */

.dt-search label {
    @apply text-main font-semibold;
}

#dt-search-0 {
    @apply text-main text-sm p-2;
}

.dt-search input:focus {
    @apply outline-none;
}

.dt-length label {
    @apply text-main font-medium;
}

#dt-length-0 {
    @apply text-main bg-main font-medium;
}

#example_info {
    @apply text-secondary font-medium text-sm;
}

div.dt-container .dt-paging button.dt-paging-button {
    @apply text-main text-sm !important;
}
